
<div class="row">
    <div class="col-xs-4"><img style="width:100%; height: 100%;" src="~/imagem/svv.png" /></div>
    <div class="col-xs-8"><img style="width:100%; height: 100%;" src="~/imagem/telefonica-logo.jpg" /></div>
</div>
